<template>
  <div>
    <a-row type="flex" justify="center" align="middle" style="height: 100vh;">
      <a-col :span="12">
        <a-row type="flex" justify="space-between">
          <a-col :span="12">
            <h1>Article List</h1>
          </a-col>
          <a-col :span="4">
            <a-button type="primary" block @click="modalOpenCreate()">
              Create New Article
            </a-button>
          </a-col>
        </a-row>
        <a-row>
          <a-col>
            <a-table :columns="table.column" :data-source="table.data" :pagination="false">
              <span slot="action" slot-scope="text, record">
                <a-button type="primary" @click="modalOpenUpdate(record)">Update</a-button>
                <a-popconfirm title="Are you sure want to delete this data？" ok-text="Yes" cancel-text="No" @confirm="deleteContent(record.ID)">
                  <a-button type="danger">Delete</a-button>
                </a-popconfirm>
              </span>
            </a-table>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
    <a-modal
      :title="modal.title"
      :visible="modal.visible"
      :confirm-loading="modal.loading"
      @ok="modalOk"
      @cancel="modalCancel"
    >
      <a-form-item
        label="Title"
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-input v-model="modal.data.title" placeholder="Title" />
      </a-form-item>
      <a-form-item
        label="description"
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 12 }"
      >
        <a-textarea v-model="modal.data.description" placeholder="description" />
      </a-form-item>
    </a-modal>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      table: {
        column: [
          {
            title: 'Title',
            dataIndex: 'Title',
            key: 'Title'
          },
          {
            title: 'Description',
            dataIndex: 'Description',
            key: 'Description'
          },
          {
            title: 'Action',
            key: 'action',
            scopedSlots: { customRender: 'action' }
          }
        ],
        data: []
      },
      modal: {
        data: {
          id: '',
          title: '',
          description: ''
        },
        title: '',
        visible: false,
        loading: false,
        action: ''
      }
    }
  },
  mounted () {
    this.getContents()
  },
  methods: {
    async getContents () {
      const contents = await this.$axios.$get('api/content')
      this.table.data = contents.Data
    },
    async createContent () {
      const dataCreate = {
        ID: Math.floor((Math.random() * 99999) + 10000).toString(),
        Title: this.modal.data.title,
        Description: this.modal.data.description
      }
      const dataReturn = await this.$axios.$post('api/content', dataCreate)
      return dataReturn
    },
    async updateContent () {
      const dataUpdate = {
        Title: this.modal.data.title,
        Description: this.modal.data.description
      }
      const dataReturn = await this.$axios.$patch(`api/content/${this.modal.data.id}`, dataUpdate)
      return dataReturn
    },
    async deleteContent (id) {
      const res = await this.$axios.$delete(`api/content/${id}`)
      this.getContents()
      this.$message.info(res.Message)
    },
    modalOpenCreate () {
      this.modal.visible = true
      this.modal.title = 'Create New Article'
      this.modal.action = 'create'
    },
    modalOpenUpdate (data) {
      this.modal.data.title = data.Title
      this.modal.data.description = data.Description
      this.modal.data.id = data.ID

      this.modal.visible = true
      this.modal.title = 'Update Article'
      this.modal.action = 'update'
    },
    modalCancel () {
      this.modal.visible = false
    },
    async modalOk () {
      this.modal.loading = true
      if (this.modal.action === 'create') {
        const data = await this.createContent()
        this.$message.info(data.Message)
      } else if (this.modal.action === 'update') {
        const data = await this.updateContent()
        this.$message.info(data.Message)
      }

      await this.getContents()
      this.modal.data.id = ''
      this.modal.data.title = ''
      this.modal.data.description = ''
      this.modal.loading = false
      this.modal.visible = false
    }
  }
}
</script>
